| Number | Repository Name | Group | URI | Latest Tag |
|--------|------------------|--------|------------------------------|-------------|
{% for item in items -%}
| {{ item.number }} | {{ item.name }} | {{ item.group }} | {{ item.uri }} | {{ item.tags | join(', ') }} |
{% endfor %}
